:root{
    --teal: #1097a8;
    --cream: #ddce9e;
    --miku: #15f8e5;
    --maintext: #5a5a5a;
}

body{
    background-color: var(--cream);
}

.top-header{
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    color: var(--teal);
    background-color: var(--maintext);
    height: 4rem;
}

.zach{
    margin: 1rem;
}

.header-image{
    background-image: url("../images/site-1.jpg");
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position:center;
}

.about-me{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.about-me h2{
    font-size: 125%;
    flex: 1 0 20%;
    padding-right: 1rem;
    line-height: 150px;
    text-align: right;
    border-right: 4px solid var(--miku);
}

.about-me-text{
    margin: 1rem;
    flex: 1 0 80%;
}

.work{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.work-flex{
    flex: 1 0 80%;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.work h2{
    font-size: 125%;
    flex: 1 0 20%;
    padding-right: 1rem;
    line-height: 150px;
    text-align: right;
    border-right: 4px solid var(--miku);
}

.work-card{
    border-style: solid;
    border-width: 3px;
    margin: 20px;
    color: var(--miku);
    background-color: var(--maintext);
}

.work-card h3{
    margin-left: 5px;
}

.work-card img{
    max-width: 100%;
    max-height: 100%;
    
}
.nav-list a{
    margin: .5rem .5rem 0 0;
    display: inline;
    text-align: center;
    color: var(--teal);
    font-size: 50%;
}

.nav-list a:hover{
    color: white;
    background-color: var(--teal);
    font-size: 55%;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}


.work-card:hover{
    font-size: 200%;
    transition: all 0.2s ease-in-out;
}


.contact-me{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.contact-me h2{
    flex: 1 0 20%;
    font-size: 125%;
    padding-right: 1rem;
    line-height: 50px;
    text-align: right;
    border-right: 4px solid var(--miku);
}

.contact-me .contacts{
    flex: 1 0 80%;
}

.contacts a{
    display: inline-block;
    text-align: right;
    color: var(--teal);
    font-size: 100%;
    margin: 1rem 0 0 10rem;

}

.contacts a:hover{
    color: white;
    background-color: var(--teal);
    font-size: 110%;
    padding: 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

footer{
    text-align: center;
    line-height: 30px;
    color: var(--miku);
    background-color: var(--maintext);
}

 @media screen and (max-width: 968px){
    .about-me h2,
    .about-me-text{
        text-align: center;
        flex: 1 0 50%;
        border-right: none;
    }

    .about-me h2{
        margin: 0 10rem;
        line-height: 1;
        padding: 0;
        border-bottom: 2px solid var(--miku);
    }

    .about-me{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


@media screen and (max-width: 768px){
    .about-me h2,
    .about-me-text,
    .work h2,
    .work-card,
    .contact-me h2,
    .contacts a{
        text-align: center;
        flex: 1 0 90%;
        border-right: none;
    }

    .about-me h2,
    .work h2,
    .contact-me h2{
        margin: 0 1rem;
        line-height: 1;
        padding: 0;
        border-bottom: 2px solid var(--miku);
    }
    .about-me,
    .work,
    .contact-me{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}